.mapModal
{
background-color: rgba(0, 0, 0, 0.9);
box-shadow:0px 0px 10px black;
border-radius:10px ;
padding:10px;
color:white;
z-index:99999999;

max-height:370px;
min-width: 350px;
max-width: 450px;
}

.mapModal p 
{
font-size:1.4em;
}

.closeModal
{
float:right;
 
}